{% extends "users/base.html" %}
{% block content %}
{% load humanize %}
  <div style="font-weight: bold; font-size: 28px; padding-bottom: 15px; padding-top:0">Cart</div>

  <div class="row">
    <div style="height: fit-content; background-color:white; border: 1px solid rgba(0,0,0,.125);" class="col-md-8">
      {% for item in object.cartitem_set.all %}
        <div style="background-color: white; height: fit-content;position: relative; padding: 10px; border-bottom: {% if forloop.last %}none{% else %}solid 1px{% endif %} rgba(0,0,0,.125);">
          <p><strong>Name: {{ item.product.name }} - Price: ${{ item.price|intcomma }}</strong></p>
          <div style="display: flex; flex-direction: column; align-items: flex-end; height: fit-content">
          <form style="margin-bottom: 10px;" action="{% url 'update-quantity' item.id %}" method="POST">
            {% csrf_token %}
            <p style="margin-bottom: 0px; font-size: 14px">Quantity: <input id="quantityid_{{ item.id }}" size="3" style="width: 3em" type="number" name="quantity" value="{{ item.quantity }}" min="1">
            <button style="font-size: 14px" class="btn btn-primary" type="submit">Update quantity</button></p>
          </form>
            <form style="margin-bottom: 10px;" action="{% url 'remove_from_cart' item.id %}" method="POST">
            {% csrf_token %}
            <input style="font-size: 14px" class="btn btn-danger" type="submit" value="Remove">
          </form>
          </div>
        </div>
      {% empty %}
        <div class="col-md-8">No items in the cart.</div>
      {% endfor %}
    </div>

    {% if object.cartitem_set.all %}
    <div style="padding-left: 20px" class="col-md-4">
      <div style="background-color: white; border: 1px solid rgba(0,0,0,.125); display: flex; flex-direction: column; padding: 20px; align-items: stretch;" >
        <div style="color: black; list-style-type: none; flex-grow: 1;">
          <div style="font-weight:bold;font-size: 17px; padding-bottom: 15px;">Summary</div>
          <div style="font-weight:480; font-size: 14px; padding-bottom: 5px; color: rgba(0,0,0,.5)">{{ object.total_quantity }} items</div>
          <div class="grid-x" style="padding-bottom: 15px; justify-content: space-between; align-items: flex-end; height: fit-content">
            <div class="cell auto">
              <p style="font-weight:bold; font-size: 14px; margin: 0px;line-height: 1.38462rem;">TOTAL:</p>
            </div>
            <div class="cell" style="flex: 0 0 auto;">
              <p id="price" style="font-size: 24px; font-weight:bold; margin: 0;padding:0; line-height: 1.38462rem;">
                <span style="margin: 0; padding: 0;margin-bottom:0px;align-items: flex-end; color: #198754">$ {{ object.total_price|intcomma }}</span>
              </p>
            </div>
          </div>
        </div>
        <a href="{% url 'checkout' %}" style="width: 100%; display: block;">
          <button class="btn btn-success" style="width: 100%; box-sizing: border-box; font-weight: bold; font-size: 14px;">Checkout</button>
        </a>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
