{% extends "users/base.html" %}
{% block content %}
  <h1>{{ object.user.name }}</h1>

  <div class="row">
    <div style="height: fit-content; background-color:white; border: solid 1px #D3D1D1;" class="col-md-8">
      {% for item in object.cartitem_set.all %}
        <div style="background-color: white; height: 90px;position: relative; padding: 10px; border-bottom: {% if forloop.last %}none{% else %}solid 1px{% endif %} #D3D1D1;">
          <p><strong>Name: {{ item.product.name }} - Price: ${{ item.price }}</strong></p>
          <form action="{% url 'update-quantity' item.id %}" method="POST">
            {% csrf_token %}
            <p style="position: absolute; bottom: 0; right: 10px;">Quantity: <input id="quantityid_{{ item.id }}" size="3" style="width: 3em" type="number" name="quantity" value="{{ item.quantity }}" min="1">
            <button class="btn btn-primary" type="submit">Update quantity</button></p>
          </form>
            <form style="position: absolute; bottom: 0;" action="{% url 'remove_from_cart' item.id %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Remove">
          </form>
        </div>
      {% empty %}
        <div class="col-md-8">No items in the cart.</div>
      {% endfor %}
    </div>

    {% if object.cartitem_set.all %}
      <div style="background-color: black" class="col-md-4">
        <div style="color: white; list-style-type: none">
          <div>total quantity: {{ object.total_quantity }}</div>
          <div>total price: ${{ object.total_price }}</div>
        </div>
        <a href="{% url 'checkout' %}">
          <button class="btn btn-success">Checkout</button>
        </a>
      </div>
    {% endif %}
  </div>
{% endblock %}
